aiohttp==3.7.3
appdirs==1.4.4
argon2-cffi==20.1.0
async-timeout==3.0.1
attrs==20.3.0
block-tracing==1.0.1
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
cryptography==3.3.1
dbxfs==1.0.50
discord==1.0.1
discord.py==1.6.0
dropbox==11.0.0
fusepyng==1.0.7
idna==2.10
idna-ssl==1.1.0
importlib-metadata==3.3.0
jeepney==0.6.0
keyring==21.8.0
keyrings.alt==4.0.2
multidict==5.1.0
ply==3.11
privy==6.0.0
pycparser==2.20
requests==2.25.1
SecretStorage==3.3.0
sentry-sdk==0.19.5
six==1.15.0
stone==3.2.1
typing-extensions==3.7.4.3
urllib3==1.26.2
userspacefs==2.0.3
yarl==1.6.3
zipp==3.4.0
