[Unit]
Description=Some description
After=network.target

[Service]
Environment=DISCORD_TOKEN=YOUR_DISCORD_TOKEN_HERE
ExecStart=/root/discord/bin/python3 /root/stupidbot/stupidbot.py

[Install]
WantedBy=multi-user.target
